<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FastBitmapLib" version="2.1.0" targetFramework="net472" />
  <package id="Hazdryx.FastBitmap" version="1.0.1" targetFramework="net472" />
  <package id="Hazdryx.FastBitmapExt" version="0.1.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>